/* professors 섹션 스타일 */
#professors {
  padding: 32px;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 세로 정렬 */
}

/* professor 사진 갤러리 */
#professors .photo-gallery_pro {
  flex-wrap: wrap; /* 사진을 여러 줄로 나열 */
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

/* 각 사진 */
.photo-gallery_pro .photo_pro {
  flex: 1 1 calc(25% - 10px); /* 간격을 고려하여 4등분 */
  max-width: calc(25% - 10px);
  height: auto;
  object-fit: cover;
  margin: 5px;
}

/* 화면 크기가 작은 경우 사진의 너비를 50%로 조정 */
@media (max-width: 768px) {
  .photo-gallery_pro .photo_pro {
    flex: 1 1 calc(50% - 10px); /* 간격을 고려하여 2등분 */
    max-width: calc(50% - 10px);
  }
}
