/* 교수님 섹션 */
.professor-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.professor-title {
  font-size: 2rem;
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
  border-bottom: 2px solid #343a40;
  padding-bottom: 10px;
}

.professor-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.professor-image {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.professor-text {
  flex: 1;
  font-size: 1.2rem;
  color: #495057;
  line-height: 1.6;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 100px; /* 너비를 부모 요소의 전체 너비로 설정 */
  max-width: none; /* 제한 없이 너비를 확장 */
}

.professor-text-line {
  margin-bottom: 1.5rem;
}

/* professors 섹션 스타일 */
#professors {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 교수님 사진 갤러리 */
#professors .photo-gallery_pro {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  justify-content: space-evenly;
}

/* 각 사진 스타일 */
.photo-gallery_pro .photo_pro {
  flex: 1 1 calc(20% - 10px);
  max-width: calc(20% - 10px);
  height: auto;
  object-fit: cover;
  margin: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.photo-gallery_pro .photo_pro:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* 작은 화면에서의 반응형 디자인 */
@media (max-width: 768px) {
  .photo-gallery_pro .photo_pro {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 576px) {
  .professor-content {
    flex-direction: column;
    align-items: center;
  }

  .professor-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .professor-text {
    padding: 15px;
    font-size: 1rem;
  }

  .professor-title {
    font-size: 1.5rem;
  }
}
