.AppComp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
}

.App-header h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 30px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2개의 열로 설정 */
    gap: 40px;
    /* 이미지 사이의 간격 */
    margin: 30px;
}

.photo {
    width: 80%;
    height: auto;
    object-fit: contain;
    /* 이미지를 비율 유지하면서 컨테이너에 맞춤 */
    border-radius: 12px;
}

.divider {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

/*내용 들어갈 박스 만들어두기*/
.description-content {
    max-height: none;
    /*기본 설정으로 자동 조절*/
    overflow-y: visible;
    /*내용 넘어가더라도 표시*/
    padding: 10px;
    /*border: 1px solid #ddd;*/
    margin: 0 40px;
}

.developer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-grow: 1;
    /*justify-items: center;*/
    align-items: start;
    padding: 20px 60px;
}

.developer-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    overflow: hidden; /* 콘텐츠가 넘치지 않도록 설정 */
    padding: 10px 15px;
    box-sizing: border-box; /* padding과 border가 width에 포함되도록 설정 */
}

.developer-card .photo {
    width: 120px; /* 사진 크기 조절 */
    height: 120px; /* 사진 크기 조절 */
    background-size: cover; /* 사진이 카드에 맞게 커버되도록 설정 */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    text-align: left;
    max-height: 300px;
    overflow: hidden; /* 콘텐츠가 넘치지 않도록 설정 */
    text-overflow: ellipsis; /* 콘텐츠가 넘칠 경우 말줄임표 표시 */
    word-wrap: break-word; /* 긴 단어가 넘치지 않도록 설정 */
}

.info p {
    margin: 5px 0;
    word-wrap: break-word; /* 긴 단어가 넘치지 않도록 설정 */
}

.developer-card .info .name, .developer-card .info .role,
.developer-card-2 .info .name, .developer-card-2 .info .role {
    text-align: justify;
    font-weight: bold;
}

.developer-card .info .ment {
    text-align: justify;
    max-height: 200px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    word-wrap: break-word; /* 긴 단어가 넘치지 않도록 설정 */
}

.developer-list-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.developer-card-2 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    overflow: hidden; /* 콘텐츠가 넘치지 않도록 설정 */
    padding: 10px;
}

.developer-card-2 .info p {
    margin: 0px 40px;
}

.developer-card-2 .info .ment {
    text-align: justify;
    max-height: 200px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    margin: 0 40px;
}


.main-photo {
    height: 50%;
    /* 너비를 100%로 설정하여 화면 크기에 맞춤 */
    display: flex;
    /* flexbox를 사용하여 정렬 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    margin: 10px 45px;
    overflow: hidden; /* 이미지가 부모 컨테이너를 넘지 않도록 숨김 */
}

.main-photo-img {
    max-width: 50%; /* 최대 너비를 100%로 설정하여 화면 크기에 맞춤 */
    height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
    object-fit: contain; /* 이미지 비율 유지 */
}

.oval-box {
    width: 150px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    color: black;
    cursor: pointer;
    transition: background 0.3s ease;
    position: fixed;
    /* 화면에 고정 */
    bottom: 20px;
    /* 화면 하단에서 20px 위로 */
    right: 20px;
    /* 화면 오른쪽에서 20px 왼쪽으로 */
    z-index: 1000;
    /* 다른 요소들보다 위에 오도록 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.oval-box:hover {
    background: #b0b0b0;
}

.oval-box.liked .heart-icon {
    color: rgb(235, 71, 71);
}

.heart-icon {
    color: black;
    margin-left: 10px;
    /* 아이콘과 텍스트 사이의 간격 */
    font-size: 20px;
}

.like-count {
    margin-left: 10px;
    font-size: 20px;
}

.main-title {
    font-size: 40px;
    padding: 20px 50px;
}

/* 반응형 디자인 */
@media (max-width: 900px) {
    .oval-box {
        width: 60px;
        height: 60px;
        justify-content: center;
    }

    .heart-icon {
        font-size: 30px;
        margin: 0;
    }

    .like-count {
        display: none;
    }

    .developer-list,
    .developer-list-2 {
        grid-template-columns: 1fr;
        
        /* 1개의 열로 나눔 */
    }

    .developer-card,
    .developer-card-2 {
        width: 100%;
        max-width: none;
        padding: 10px;
    }

    .developer-card .photo,
    .developer-card-2 .photo {
        width: 100px;
        height: 100px;

    }

    .main-photo-img {
        max-width: 80%; /* 최대 너비를 100%로 설정하여 화면 크기에 맞춤 */
        height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
        object-fit: contain; /* 이미지 비율 유지 */
    }

    .images,
    .photo {
        grid-template-columns: 1fr;
        /* 1개의 열로 나눔 */
    }
}

@media (min-width: 901px) {
    .oval-box {
        width: 150px;
        justify-content: flex-start;
    }

    .heart-icon {
        margin-left: 40px;
        margin-right: 10px;
        font-size: 15px;
    }

    .like-count {
        display: inline;
    }
}